	<style>
        
        h2 {
        background-color: white;
        }  
        
        p {
            background-color: rgb(255, 255, 255);
        }
        body {
		background-image: url("myBackground.jpg");
		}
        </style>
